<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/common/main/order-list.css">
</head>
<body>
	<th:block th:insert="~{layout/header :: header}" />
	<main>
		<h2 class="page-tit">주문·배송</h2>
		<table class="order-list-table center view-size">
			<colgroup>
				<col width="25%"> 
				<col width="60%">
				<col width="15%">
			</colgroup>
			<tr class="order-l">
				<td><img alt="2" src="/images/header/foofa-logo.png"></td>
				<td>
					<a class="goods-logo" href="#">푸파로고</a>
					<p>${goods.price}</p>
					<a class="delivery-god" href="#">배송조회하러 가기</a>
				</td>
				<th>
					<a href="#">교환요청</a>
				</th>
				<th>
					<a href="#">구매확정</a>
				</th>
				<th>
					<a href="#">반품요청</a>
				</th>
			</tr>
		</table>
		<table class="order-list-table center view-size">
			<colgroup>
				<col width="25%"> 
				<col width="60%">
				<col width="15%">
			</colgroup>
			<tr class="order-l">
				<td><img alt="2" src="/images/header/foofa-logo.png"></td>
				<td>
					<a class="goods-logo" href="#">푸파로고</a>
					<p>${goods.price}</p>
					<a class="delivery-god" href="#">배송조회하러 가기</a>
				</td>
				<th>
					<a href="#">교환요청</a>
				</th>
				<th>
					<a href="#">구매확정</a>
				</th>
				<th>
					<a href="#">반품요청</a>
				</th>
			</tr>
		</table>
		<table class="order-list-table center view-size">
			<colgroup>
				<col width="25%"> 
				<col width="60%">
				<col width="15%">
			</colgroup>
			<tr class="order-l">
				<td><img alt="2" src="/images/header/foofa-logo.png"></td>
				<td>
					<a class="goods-logo" href="#">푸파로고</a>
					<p>${goods.price}</p>
					<a class="delivery-god" href="#">배송조회하러 가기</a>
				</td>
				<th>
					<a href="#">교환요청</a>
				</th>
				<th>
					<a href="#">구매확정</a>
				</th>
				<th>
					<a href="#">반품요청</a>
				</th>
			</tr>
		</table>
		<table class="order-list-table center view-size">
			<colgroup>
				<col width="25%"> 
				<col width="60%">
				<col width="15%">
			</colgroup>
			<tr class="order-l">
				<td><img alt="2" src="/images/header/foofa-logo.png"></td>
				<td>
					<a class="goods-logo" href="#">푸파로고</a>
					<p>${goods.price}</p>
					<a class="delivery-god" href="#">배송조회하러 가기</a>
				</td>
				<th>
					<a href="#">교환요청</a>
				</th>
				<th>
					<a href="#">구매확정</a>
				</th>
				<th>
					<a href="#">반품요청</a>
				</th>
			</tr>
		</table>
	</main>
	<th:block th:insert="~{layout/footer :: footer}" />
</body>
</html>