<!DOCTYPE html>
<html>
	<footer>
		<h1>하단영역</h1>
		<div class="wrap">
			<div class="footer">
				<div class="footer-info">
					<div class="footer-info-left">
						<h2>고객행복센터</h2>
						<strong>
							1644-1107
							<span>월~토요일 오전 7시 - 오후 6시</span>
						</strong>
						<div class="ask">
							<div>
								<button>카카오톡 문의</button>
								<div>
									월~토요일
									<div class="fbar"></div>
									오전 7시 - 오후 6시
									<br>
									일/공휴일
									<div class="fbar"></div>
									오전 7시 - 오후 1시
								</div>
							</div>
							<div>
								<button>1:1 문의</button>
								<div>
									365일
									<br>
									고객센터 운영시간에 순차적으로 답변드리겠습니다.
								</div>
							</div>
							<div>
								<button>대량주문 문의</button>
								<div>
									월~금요일
									<div class="fbar"></div>
									오전 9시 - 오후 6시
									<br>
									점심시간
									<div class="fbar"></div>
									낮 12시 - 오후 1시
								</div>
							</div>
						</div>
						<div class="non-member">
							비회원 문의 : 
							<a href="mailto:help@foofa.com">
							help@foofa.com</a>
							<br>
							비회원 대량주문 문의 : 
							<a href="mailto:help@foofa.com">
							help@foofa.com</a>
						</div>
					</div>
					<div class="footer-info-right">
						<ul class="footer-menu">
							<li>
								<a href="#">푸파소개</a>
							</li>
							<li>
								<a href="#">인재채용</a>
							</li>
							<li>
								<a href="#">이용약관</a>
							</li>
							<li>
								<a href="#">개인정보처리방침</a>
							</li>
							<li>
								<a href="#">이용안내</a>
							</li>
						</ul>
						<div class="footer-foofa-info">
							법인명 (상호) : 주식회사 푸파
							<span></span>
							사업자등록번호 : 261-81-23567
							<a href="#">사업자정보 확인</a>
							<br>
							통신판매업 : 제 2018-서울강남-01646 호
							<span></span>
							개인정보보호책임자 : 김한아
							<br>
							주소 : 서울시 강남구 테헤란로 133, 18층(역삼동)
							<span></span>
							대표이사 : 김한아
							<br>
							입점문의 : 
							<a href="#">입점문의하기</a>
							<span></span>
							제휴문의 :
							<a href="mailto:business@foofa.com">business@foofa.com</a>
							<br>
							채용문의 : 
							<a href="mailto:recruit@foofa.com">recruit@foofa.com</a>
							<br>
							팩스 : 070-7500-6098
						</div>
						<ul class="footer-sns flex">
							<a href="#">
								<img alt="푸파 인스타그램 바로가기" src="/images/footer/ico_instagram.png">
							</a>
							<a href="#">
								<img alt="푸파 페이스북 바로가기" src="/images/footer/ico_fb.png">
							</a>
							<a href="#">
								<img alt="푸파 네이버블로그 바로가기" src="/images/footer/ico_blog.png">
							</a>
							<a href="#">
								<img alt="푸파 네이버포스트 바로가기" src="/images/footer/ico_naverpost.png">
							</a>
							<a href="#">
								<img alt="푸파 유튜브 바로가기" src="/images/footer/ico_youtube.png">
							</a>
						</ul>
					</div>
				</div>
				<div class="footer-auth">
					<button>
						<img alt="isms 로고" src="/images/footer/logo_isms.svg">
						<p>
							[인증범위] 푸파 쇼핑몰 서비스 개발 · 운영
							<br>
							(심사받지 않은 물리적 인프라 제외)
							<br>
							[유효기간] 2022.12.12 ~ 2025.12.11
						</p>
					</button>
					<button>
						<img alt="eprivacy plus 로고" src="/images/footer/logo_privacy.svg">
						<p>
							개인정보보호 우수 웹사이트 ·
							<br>
							개인정보처리시스템 인증 (ePRIVACY PLUS)
						</p>
					</button>
					<button>
						<img alt="payments 로고" src="/images/footer/logo_tosspayments.svg">
						<p>
							토스페이먼츠 구매안전(에스크로)
							<br>
							서비스를 이용하실 수 있습니다.
						</p>
					</button>
					<button>
						<img alt="우리은행 로고" src="/images/footer/logo_wooriBank.svg">
						<p>
							고객님이 현금으로 결제한 금액에 대해 우리은행과
							<br>
							채무지급보증 계약을 체결하여 안전거래를 보장하고
							<br>
							있습니다.
						</p>
					</button>
				</div>
			</div>
			<div class="footer-bar">
				푸파에서 판매되는 상품 중에는 푸파에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.
				<br>
				마켓플레이스(오픈마켓) 상품의 경우 푸파는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 푸파는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.
				<em class="all-rights-reserved">© FOOFA CORP. ALL RIGHTS RESERVED</em>
			</div>
		</div>
	</footer>
</html>