<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<ul>
	<li th:each="dto : ${list}">
		<dl>
			<dt class="question" th:text="${dto.question}" onclick="questionClicked(this)">질문정보가 삽입됩니다.</dt>
			<dd class="answer">[[${dto.answer}]]</dd>
		</dl>
	</li>
	<li th:if="${#lists.isEmpty(list)}" style="text-align: center;">조회 결과가 존재하지 않습니다.</li>
</ul>
<!-- 페이징정보 시작-->
<div th:if="${!#lists.isEmpty(list)}" class="paging flex center">
	<ol class="flex">
		<!-- 첫 페이지로 -->
		<li>
			<a href="javascript:pageClicked(1)">&lt;&lt;</a>
		</li>
		<!-- Prev Sign -->
		<li th:if="${pi.pageStart ne 1}"> <!-- ne(!=) -->
			<a th:href="|javascript:pageClicked(${pi.pageStart - 1})|">&lt;</a>
		</li>
	</ol>
	<ol class="page-list flex">
		<!-- pageStart ~ pageEnd 반복 -->
	<li th:each="pageNo:${#numbers.sequence(pi.pageStart,pi.pageEnd)}">
		<a th:href="|javascript:pageClicked(${pageNo})|">[[${pageNo}]]</a>
	</li>
</ol>
	<ol class="flex">
		<!-- Next Sign -->
		<li th:if="${pi.pageEnd < pi.pageTotal}">
			<a th:href="|javascript:pageClicked(${pi.pageEnd + 1})|">&gt;</a>
		</li>
		<!-- 마지막 페이지로 -->
		<li>
			<a th:href="|javascript:pageClicked(${pi.pageTotal})|">&gt;&gt;</a>
		</li>
	</ol>
	<input type="hidden" id="p-length" th:value="${pi.pLength}">
</div>
<!-- 페이징정보 마지막-->
</html>