<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="layout/user-layout :: layout(~{this::head}, ~{this::main})">
<!-- th:replace="~{템플릿::fragment이름or아이디or태그}" -->
<head>
	<link rel="stylesheet" type="text/css" href="/css/goods/detail/goods.css">
	<link rel="stylesheet" href="/css/goods/detail/goods-detail-bottom.css">
	<script type="text/javascript">
	$(document).ready(function() {
        getImages();
    });
	var quantity = 1;
	function getReview(){
    	$.ajax({
    		url:"/goods/detail/review",
    		success: function(result){ //result<==review.html
    			$(".review").html(result);
    		}
    	});
    }
	function quantityChanged(){
		var tot=$("#quantity").val() * $("#price").val();
		$("#total-price").text(tot);
	}
	function loginCheck(){
		var isLogin = false;
		$.ajax({
			url: "/member/login-check",
			async: false, /* 비동기 false */
			success: function(result){
				//alert(result);
				isLogin = result;
			}
		})
		return isLogin; /* ajax가 완전히 끝난 후에 return */
	}
	

	function btnOrderClicked(){
		var quantity=$("#quantity").val();
		var goodsNo=$("#no").val();
		
		location.href=`/order/order?goodsNo=${goodsNo}&quantity=${quantity}`;
	}
	
	function isAuthenticated(){
	
		if(!loginCheck()){
			var result = confirm("로그인 이후 가능합니다.\n로그인페이지로 이동할까요?");
			if(result){
				location.href="/login";
			}
			return;
		}

		
		var ea=$("#quantity").val();
		var no=$("#no").val();
		
		$.ajax({
			url: "/cart",
			data:{quantity:ea, itemNo:no},
			type: "post",
			success:function(){
				if(!confirm("장바구니에 상품을 담았습니다.\n장바구니 페이지로 이동할까요?"))return;
				location.href="/carts";
				
			},
			error:function(){
				//alert("문제발생");
			}
			
		});

	}
	
	
	</script>
</head>
<main>
	<h1>메인</h1>
	<div class="detail wrap">
		<div class="right-banner">
			<div class="right-banner-content">
				<div class="right-banner-content1">
					<a href="#"></a>
				</div>
				<div class="right-banner-content2">
					<a href="#"></a>
					<a href="#"></a>
				</div>
				<div class="right-banner-content3">
					<button>
						<svg>
							<path></path>
						</svg>
					</button>
					최근 본 상품
					<div>
						<ul class="flex">
							<li>
								<a href="/goods/1"></a>
							</li>
							<li>
								<a href="/goods/1"></a>
							</li>
							<li>
								<a href="/goods/1"></a>
							</li>
							<li>
								<a href="/goods/1"></a>
							</li>
							<li>
								<a href="/goods/1"></a>
							</li>
						</ul>
					</div>
					<button>
						<svg>
							<path></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="main-detail">
			<div class="product-atf">
				<div class="goods-img" th:style="|background-image: url('${goods.defImgUrl}') ;|"></div>
				<section>	
					<div>새벽배송</div>
					<div class="goods-title flex">
						<div class="flex">
							<h1 th:text="${goods.title}">상품명</h1>
							<button></button>
						</div>
						<h2 th:utext="${goods.content}">내용</h2>
					</div>
					<h2 class="flex">
						<span th:text="${goods.price}">가격</span>
						<span>원</span>
					</h2>
					<div>
						로그인 후, 할인 및 적립 혜택이 제공됩니다.
					</div>
					<div>
						<dl>
							<dt>상품재고</dt>
							<dd>
								<p th:text="${goods.stock}">재고</p>
							</dd>
						</dl>
					</div>
					<div>
						<div class="goods-choice">
							<dl class="flex">
								<dt>상품선택</dt>
								<div class="flex">
									<div class="flex">
										<span th:text="${goods.title}">상품명</span>
									</div>
									<div class="flex">
										<div>
										<input type="hidden" id="no" th:value="${goods.no}">
										<input type="hidden" id="price" th:value="${goods.price}">
										<input type="number" id="quantity" min="1" th:max="${goods.stock}" value="1" onchange="quantityChanged()">
										</div>
										<div class="goods-count-price">
											<span th:text="${goods.price}">
												가격
											</span>
										</div>
									</div>
								</div>
							</dl>
						</div>
						<div class="goods-total-price">
							<div>
								<div>
									<span>총 상품금액 :</span>
									<span id="total-price" th:text="${goods.price}">총액</span>
									<span>원</span>
								</div>
								<div>
									<span>적립</span>
									<span>로그인 후, 적립 혜택 제공</span>
								</div>
							</div>
						</div>
						<div class="goods-button flex">
							<button>
								<span>
									<img width="32px" src="/images/goods/detail/color_zzim.png">
								</span>
							</button>
							<button>
								<span>
									<img width="32px" alt="" src="/images/goods/detail/alarm.svg">
								</span>
							</button>
							<div class="flex">
								<input type="hidden" id="no" th:value="${goods.no}">
								<button onclick="isAuthenticated()">
									<span>장바구니 담기</span>
								</button>
								<button type="button" id="btn-order" onclick="btnOrderClicked()">
									<span>바로구매하기</span>
								</button>
							</div>
						</div>
					</div>
				</section>
			</div>
			<nav>
				<ul>
					<li><a><span>상품설명</span></a></li>
					<li><a><span>상세정보</span></a></li>
					<li><a><span>후기</span></a></li>
					<li><a><span>문의</span></a></li>
				</ul>
			</nav>
			<div class="goods-detail">
				<div id="description">
					<div>
						<div>
							<div class="goods_wrap">
								<div class="goods_intro">
									<div class="pic">
										<img alt="" src="/images/goods/detail/goods_sample.jpg">
									</div>
									<div class="context last">
										<h3>
											<small>${goods.detail}</small>
											${goods.title}
										</h3>
										<p class="words">${상세words}</p>
									</div>
								</div>
								<div class="goods_point"></div>
								<div class="about_brand"></div>
							</div>
						</div>
					</div>
					<div></div>
				</div>
				<div id="detail">
					<div class="detail-img">상세이미지</div>
					<div class="why-foofa">
						<div class="why">
							<span>WHY FOOFA</span>
						</div>
						<div class="reason">
							<dl>
								<dt>깐깐한 상품위원회</dt>
								<dd>
									나와 내 가족이 먹고 쓸 상품을 고르는
									<br>
									마음으로 매주 상품을 직접 먹어보고,
									<br>
									경험해보고 성분, 맛, 안정성 등 다각도의
									<br>
									기준을 통과한 상품만을 판매합니다.
									<span class="">(온라인 기준 / 자사몰, 직구 제외)</span>
								</dd>
							</dl>
							<dl>
								<dt>신선한 풀콜드체인 배송</dt>
								<dd>
									온라인 업계 최초로 산지에서 문 앞까지
									<br>
									상온, 냉장, 냉동 상품을 분리 포장 후
									<br>
									최적의 온도를 유지하는 냉장 배송 시스템,
									<br>
									풀콜드체인으로 상품을 신선하게 전해드립니다.
									<span class="">(새벽배송에 한함)</span>
								</dd>
							</dl>
							<dl>
								<dt>고객, 생산자를 위한 최선의 가격</dt>
								<dd>
									매주 대형 마트와 주요 온라인 마트의 가격
									<br>
									변동 상황을 확인해 신선식품은 품질을
									<br>
									타협하지 않는 선에서 최선의 가격으로,
									<br>
									가공식품은 언제나 합리적인 가격으로
									<br>
									정기 조정합니다.
								</dd>
							</dl>
						</div>
					</div>
					<div class="customer-center">
						<div>
							<div>
								<h5>고객행복센터</h5>
								<p>
									궁금하신 점이나 서비스 이용에 불편한 점이 있으신가요?
									<span>
										문제가 되는 부분을 사진으로 찍어 아래 중 편하신 방법으로 접수해 주시면 빠르게 도와드리겠습니다.
									</span>
								</p>
							</div>
							<ul>
								<li>
									<strong>전화 문의 1644-1107</strong>
									<span>월~토요일 오전 7시 - 오후 6시</span>
								</li>
								<li>
									<strong>카카오톡 문의</strong>
									<span>월~토요일 오전 7시 - 오후 6시</span>
									<span>일/공휴일 오전 7시 - 오후 1시</span>
									<strong class="katalk">
										카카오톡에서 '푸파'를 검색 후
										<br>
										대화창에 문의 및 불편사항을
										<br>
										남겨주세요.
									</strong>
								</li>
								<li>
									<strong>홈페이지 문의</strong>
									<span>365일</span>
									<span>로그인>마이푸파>1:1문의</span>
									<strong class="katalk">
										고객센터 운영 시간에 순차적으로
										<br>
										답변해드리겠습니다.
									</strong>
								</li>
							</ul>
						</div>
					</div>
					<div class="exchange-refund">
						<strong>교환 및 환불 안내</strong>
						<p>교환 및 환불이 필요하신 경우 고객행복센터로 문의해주세요.</p>
					</div>
					<div class="exchange-refund01">
						<strong>01. 상품에 문제가 있는 경우</strong>
						<p>
							받으신 상품이 표시·광고 내용 또는 계약 내용과 다른 경우에는 상품을 받은 날부터 3개월 이내,
							그 사실을 알게 된 날부터 30일 이내에 교환 및 환불을 요청하실 수 있습니다.
							상품의 정확한 상태를 확인할 수 있도록 사진을 함께 보내주시면 더 빠른 상담이 가능합니다.
							<span>
								※ 배송 상품에 문제가 있는 것으로 확인되면 배송비는 푸파가 부담합니다.
							</span>
						</p>
					</div>
					<div class="exchange-refund02">
						<strong>02. 단순 변심, 주문 착오의 경우</strong>
						<p>
							<strong>신선 / 냉장 / 냉동 식품</strong>
							재판매가 불가한 상품의 특성상, 단순 변심, 주문 착오 시 교환 및 반품이 어려운 점 양해 부탁드립니다.
							상품에 따라 조금씩 맛이 다를 수 있으며, 개인의 기호에 따라 같은 상품도 다르게 느끼실 수 있습니다.
							<strong>유통기한 30일 이상 식품 (신선 / 냉장 / 냉동 제외) & 기타 상품</strong>
							상품을 받은 날부터 7일 이내에 고객행복센터로 문의해주세요.
							<span>
								※ 단순 변심으로 인한 배송 상품 교환 또는 환불의 경우 고객님께서 배송비 6,000원을 부담하셔야 합니다.
            					(주문건 배송비를 결제하셨을 경우 3,000원)
							</span>
						</p>
					</div>
					<div class="exchange-refund03">
						<strong>03. 교환·반품이 불가한 경우</strong>
						<p>
							다음에 해당하는 교환·환불 신청은 처리가 어려울 수 있으니 양해 부탁드립니다.
							<span>고객님의 책임 있는 사유로 상품이 멸실되거나 훼손된 경우</span>
							<span>고객님의 사용 또는 일부 소비로 상품의 가치가 감소한 경우</span>
							<span>시간이 지나 다시 판매하기 곤란할 정도로 상품의 가치가 감소한 경우</span>
							<span>복제가 가능한 상품의 포장이 훼손된 경우</span>
							<span>고객님의 주문에 따라 개별적으로 생산되는 상품의 제작이 이미 진행된 경우</span>
						</p>
					</div>
					<div class="withdraw-order">
						<strong>주문 취소 안내</strong>
						<p>
							<strong>
								- [주문완료] 상태일 경우에만 주문 취소 가능합니다.
								- [마이컬리 &gt; 주문내역 상세페이지] 에서 직접 취소하실 수 있습니다.
							</strong>
						</p>
					</div>
					<div class="withdraw-order01">
						<strong>주문 취소 관련</strong>
						<p>
							- [배송준비중] 부터는 취소가 불가하니, 반품으로 진행해주세요. (상품에 따라 반품이 불가할 수 있습니다.)
							- 주문마감 시간에 임박할수록 취소 가능 시간이 짧아질 수 있습니다.
							- 비회원은 App 또는 모바일 웹사이트에서 [마이푸파 > 비회원 주문조회 페이지] 에서 취소가 가능합니다.
							- 일부 예약상품은 배송 3~4일 전에만 취소 가능합니다.
							- 주문상품의 부분취소는 불가능합니다. 전체 주문 취소 후 다시 구매 해주세요.
						</p>
					</div>
					<div class="withdraw-order02">
						<strong>결제 승인 취소 / 환불 관련</strong>
						<p>
							- 카드 환불은 카드사 정책에 따르며, 자세한 사항은 카드사에 문의해주세요.
							- 결제 취소 시, 사용하신 적립금과 쿠폰도 모두 복원됩니다.
						</p>
					</div>
					<div class="delivery-info">
						<strong>배송관련 안내</strong>
						<p>배송 과정 중 기상 악화 및 도로교통 상황에 따라 부득이하게 지연 배송이 발생될 수 있습니다.</p>
					</div>
				</div>
				<th:block th:insert="~{goods/review::#review}" />
				<th:block th:insert="~{goods/inquiry::#inquiry}" />
			</div>
		</div>
		<div class="bottom-line"></div>
		<span class="to-the-top"></span>
	</div>
</main>
</html>
