<!DOCTYPE html>
<html>
	<div class="why-foofa">
		<div class="why">
			<span>WHY FOOFA</span>
		</div>
		<div class="reason">
			<dl>
				<dt></dt>
				<dd></dd>
			</dl>
			<dl></dl>
			<dl></dl>
			<dl></dl>
			<dl></dl>
		</div>
	</div>
	<div class="customer-center"></div>
	<div class="exchange-refund"></div>
	<div class="exchange-refund01"></div>
	<div class="exchange-refund02"></div>
	<div class="exchange-refund03"></div>
	<div class="withdraw-order"></div>
	<div class="withdraw-order01"></div>
	<div class="withdraw-order02"></div>
	<div class="delivery-info"></div>
</html>