@charset "UTF-8";

/* .head-text{
	margin-top: 50px;
    font-weight: 500;
    font-size: 28px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}
.goods-list1{
	display: grid;
 grid-template-columns: repeat(auto-fill, 249px); 
    gap: 24px 18px;
    width: 100%;
} */